# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
staticfiles/

# Virtual environment
venv/
.venv/
env/

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid